
.combine-figma{
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.combine-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

@media (max-width: 767px){
    .combine-two{
        padding: 10px;
    }
}