

.container{
    max-width: 800px;
    margin:  50px auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.accorden{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20px 50px;
     box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
     border-top: 6px solid green;
     border-radius: 10px;
}

.accorden-row1{
    display: flex;
    padding: 10px;
    gap: 20px;
    color: green;
    justify-content: space-between;

}

.accorden-title{
  display: flex;
  gap: 30px;
}

.accorden-row1 h1{
    font-size: 1.7rem; 
    font-weight: bold;
}

.icon-arow{
    width: 100%;
    max-width: 30px;
    

}

.accorden-row2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 70px;
    gap: 20px;
    display:  none;
}

.accorden-p{
   font-size: 1.1rem;
    color: rgb(83, 83, 83);
}

.accorden-li{
   font-size: 1.1rem;
   color: rgb(83, 83, 83);
}