.home-Main-Container{
    width: 100%;
    max-width: 1400px;   
    margin: 0 auto;      
    padding: 40px 20px;
}

.home-main-section1{
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.home-main-section1-text{
  flex: 1;  
}

.home-main-section1-text h1{
    font-size: 2.7rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.home-main-section1-text p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.home-main-section1-img{
    width: 100%;
    max-width: 600px;
}



.home-main-section1-img img{
    width: 100%;  
}

.home-main-section1-text button{
    background-color: rgb(5, 188, 5);
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 6px;
}

.home-main-section1-text a{
    text-decoration: none;
    color: white;
}

.home-main-section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-main-section2 h1{
    font-size: 2.7rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.home-main-section2-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    
}

.home-main-section2-box h1{
     font-size: 1.4rem;
     line-height: 1;
}


.home-main-section3 {
    display:  flex;
    margin-top: 60px;
    gap: 30px;
    padding: 20px;
    background-color: rgb(22, 206, 22);
    color: white;

}
.home-main-section3 img{
    width: 100%;
    max-width: 700px;
}

.home-main-section3 h1{
    width: 100%;
    max-width: 700px;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.home-main-section3 p{
    font-size: 1.2rem;
}


.home-main-section4 h1{
    font-size: 2.7rem;
    margin-top: 60px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.home-main-section4-box{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
   
}

.box1{
    flex: 1;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.box1 h1{
    font-size: 1.7rem;
    display: inline-block;
    margin: 0;
    padding: 15px 0;
}

.box1 img{
  width: 100%;
  height: 300px;
}

.box1 p{
    font-size: 1.1rem;
    padding: 10px 0;
    margin: 0;
}


.home-main-section4-detail{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}


.home-main-section4-detail p{
    margin: 0;
    display: inline-block;
}
 

.home-main-section4-detail button{
    width: 100%;
    max-width: 150px;
    padding: 5px 10px;
    margin: 0;
    background-color: rgb(25, 168, 25);
    border-radius: 6px;
    font-size: 1.3rem;
    color: white;
    box-shadow: 2px 2px 2px 1px  black;

}




.userReview{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}