.pagination-container{
   
    width: 50%;
    margin: 50px auto;
    padding: 20px 30px;
}


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.pagenation-number{
    display: flex;
    gap: 40px;
}

.pagenation-number div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    
}

.pagenation-number div:hover{
    background-color: green;
    color: white;
}

.pagination-button-left{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}

.pagination-left{
    width: 100%;
    max-width: 50px;
    color: green;
}

.pagination-button-right{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}

.paagination-right{
    width: 100%;
    max-width: 50px;
    color: green;
}